* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 2px solid red;
    text-decoration: none;
}

html, body{
    margin: 0px;
    min-height: 100%;
}

/* I finally found an answer to stretching page height here (sorta): 
https://www.reddit.com/r/css/comments/133mrju/how_do_i_make_body_the_height_of_the_entire/?rdt=52292 */

body{
    background: url(./rss/jez-timms-8muUTAmcWU4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    min-height: 100dvh
}

a{
    color: inherit;
}

/* Header section*/

.header{
    display: flex;
    height: auto;
    width: 100%;
    margin: 4px;
    justify-content: space-around;
}

.login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    color: white;
}

.login-extra{
    padding: 0%;
    margin: 0px;
}

.title{
    display: flex;
    color: grey;
}

/* Section 1 */

.container{
    display: flex;
    height: auto;
    width: 100%;
    margin: 4px;
    justify-content: center;
    margin-top: 10px;
}

.flex-box{
    display: flex;
    width: 300px;
    height: 200px;
    color: white;
}

.img-daria{
    width: 100%;
    height: 100%;
}

.hideout{

}

.hideout-top{
    font-weight: bold;
    font-size: 30px;
    width: 300px;
}

.hideout-bottom{
    display: flex;
    width: 300px;
    font-size: 15px;
    margin: 4px;
}

.sign-in-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin: 4px;
    margin-top: 8px;
    font-size: 15px;
    border-radius: 8px;
    border: 3px solid gray;
    background-color: gray;
    color: black;
}


/* Section 3 */

.container_2{
    display: flex;
    height: 200px;
    width: 100%;
    margin: 4px;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.flexy-boxes{
    display: flex;
    width: 150px;
    height: 150px;
    color: white;
}

/* Section 4 */

.container_3{
    display: flex;
    color: white;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
}

.quotedBox{
    display: flex;
    width: 500px;
    border-radius: 8px;
}


/* Section logSign */
.container_4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logSign{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100px;
}

.logSign-left{
    height: 60px;
    width: 300px;
}

.logSign-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 64px;
}

.logSign-left, .logSign-right{
    border-radius: 8px;
}